.chat_screen{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width:80%;
    margin:auto;
    height:300px;
    overflow: auto;
}

.chat_screen_end{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: aliceblue;
    width: 80%;
    margin: auto;
    align-items: flex-end;
}
.inputbox{
    height:40px;
    width: 100%;
    border:2px solid black;
    border-radius: 5px;
    bottom: 0;
}
.send_button{
    width:30%;
    block-size: fit-content;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.message_box{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;;
    padding-top:5px;

}

.message_name{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.message_name_right{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items: center;
}

.message_date{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.message{
    color:black;
    font-weight: 500;
    margin-left: 10px;
    background-color: gainsboro;
    border-radius: 5px;
    padding:1px;
    margin-right: 5px;
}

.name{
    color:dodgerblue;
    font-weight: 600;
    padding-right: 10px;
    font-size: 20px;
}

.time{
    font-size: 11px;
    color:gray;
    padding-left: 10px;
    font-style: italic;
}

.nom{
    display: flex;
    flex-direction: row;
    font-style: italic;
    color:green;
    margin-right: 20%;
    justify-content: flex-end;
}

.contact{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;

}

.delivery{

}